/**
 * @file
 * Blocks.
 */

/* Block wrapper. */
.block {
  margin-bottom: rhythm(1);
}

/* Block title. */
.block__title {
  margin: 0;
  line-height: 1.5em;
}

/* Sidebar blocks */

.sidebar .block__title {
  margin-bottom: 1rem;
}

.content-bottom {
  #block-block-134,
  #block-block-135,
  #block-block-136,
  #block-block-137 {
    display: inline-block;
    text-align: center;
    width: 24%;
    margin: 1em 0;
  }
  .objective 
    img {
      height: 160px;
      width: 160px;
      border: solid 1px $logreen;
      border-radius: 160px;
   &:hover {
       background-color: $higrey;
   }
  }
}
