blockquote {
  border-left: solid 2px $logreen;
  margin: 0;
  padding-left: 2em;
}

/* Cover with material type */

.mtype {
  background-color: $green;
  @include opacity(0.75);
  position: absolute;
  bottom: 0px;
  color: $page;
  left: 0px;
  padding: 0.5em 1em;
}

/* Thumbnails */

.field-name-ds-user-picture,
.view-mode-teaser .field-name-field-cover-image,
.view-mode-teaser .field-name-field-videoembed,
.view-mode-search_result .field-name-field-videoembed,
.view-mode-full img.shrinktheweb,
.view-id-links img.shrinktheweb,
.view-mode-grid .field-name-field-videoembed,
.view-mode-grid img.shrinktheweb,
.front .views-responsive-grid .views-field-field-image,
.news-events .views-responsive-grid .views-field-field-image,
.view-mode-search_result .field-name-field-blog-image,
 {
  float: left;
  margin: 0 10px 0 0;
  width: 120px;
  height: auto;
   img {
     border: solid 1px $grey;
   }
}

/* Search results, teaser & grid layouts  */

.view-mode-search_result, .view-mode-teaser, .view-mode-grid, .views-responsive-grid {
  .field-name-thumbnail,
  .field-name-field-cover-image,
  .field-name-field-material-type,
  .field-name-field-no-of-pages,
  .field-name-field-author-s-,
  .field-name-field-file,
  .field-name-field-theme,
  .field-name-field-image
   {
     @extend .field-name-ds-user-picture;
  }
  .field-name-field-material-type,
  .field-name-field-no-of-pages,
  .field-name-field-author-s-,
  .field-name-field-theme,
  .views-field-field-image {
    width: auto !important;
  }
}

.view-mode-grid {
  .field-name-field-material-type,
  .field-name-field-no-of-pages,
  .field-name-field-author-s-,
  .field-name-field-theme {
    width: 230px !important;
  }
}

.taxonomy-term.view-mode-grid .field-name-field-image,
.front .views-responsive-grid .views-field-field-image {
    width: 180px !important;
    margin-bottom: 30px;
    img {
      border: none;
    }
 }


.page-user,
.page-guidance-briefs-more,
.page-search,
.view-mode-search_result,
.view-mode-grid
 {
  dd, dt {
    display: inline;
    margin: 0;
  }
  h3 {
   clear: both;
  }
  h4 {
    line-height: 1.5rem;
    margin: .5rem .5rem .5rem 0;
  }
}

.section-in-country {
  #block-views-key-partner-country-block-3 {
    background: $higrey;
    padding: 1em;
    .views-row {
      background: $page;
      padding: 1em;
      margin: 1em 0;
      .node-blog {
        cursor: pointer;
      }
      .field-name-title h4 {
        margin-top: 0;
      }
      .field-type-image {
         float: left;
         margin: 0 10px 10px 0;
         width: 350px;
         height: auto;
          img {
            border: solid 1px $grey;
          }
      }
    }
  }
}

/*
 Display suite cards (highlighted and grid displays)
*/


.front {
  @extend .page-user;
}

#block-user-online ul,
.page-members .views-row,
.page-links .views-row {
  padding: 0;
  @include clearfix();
}

#block-user-online li,
.page-members .views-field-picture {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
}

.view-id-active_users.view-display-id-block {
   img, a {
     vertical-align: middle;
     height: 50px;
  }
}


/* Views, node-teasers, search results */

.search-results .view-mode-search_result {
  margin: 1rem 0;
  border-bottom: solid 1px $higrey;
  padding-bottom: 1rem;
  h3 {
    line-height: normal;
  }
}

.front,
.page-key-themes,
.page-our-themes,
.page-key-partner-countries {
  .views-row {
    border-bottom: none;
    padding-bottom: 0;
  }
  .views-responsive-grid .views-field-field-image {
      text-align: center;
    img {
      border: none;
    }
  }
}

ol.search-results {
  padding-left: 0;
}

.meta, .label-inline {
  float: none !important;
  display: inline;
  font-size: 90%;
}

.label-inline {
  font-weight: 600;
}

.views-column h4 {
    overflow: hidden;
}


.view-mode-highlighted, .view-mode-grid {
    border: solid 1px $grey;
    margin: 10px;
    padding: 5px 7px;
    cursor: pointer !important;
    &:hover {
      background: $higrey;
    }
}
  .view-mode-highlighted {
    min-height: 400px;
  }

/* Home page and landing page views */

.front {
  .preface {
    text-align: left;
    min-height: 440px;

    h1 {
      display: none;
    }
  }

  .main-content {
    padding: 0;
  }

  .flexslider {
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
  #flexslider-1 {
    max-width: 640px;
    margin: 40px;
    z-index:2;
    border: solid 1px $green;
  }
   #flexslider-2 {
     border: solid 1px $green;
     li {
       display: block;
       float: none !important;
       line-height: 1.67em;
       margin: 10px;
       height: 70px;
       &.clone {
         display: none !important;
       }
     }
     .flex-viewport {
       height: 320px !important;
       max-height: 320px !important;
     }
     .slides {
       transform: none !important;
       height: 100% !important;
       top: 0 !important;
     }
     li.flex-active-slide a {
       background-color: $khaki;
     }
     a {
       padding: 10px;
       display: block;
       max-height: 70px;
     }
   }
}

.front,
.page-our-themes,
.page-key-partner-countries {
  h2.block__title, .view-header {
    padding-left: 1rem;
    color: $textcolor;
    p {
      font-weight: bold;
    }
  }
  .paragraphs-item-block .block {
    padding: 20px;
    margin: 0;
  }

  #block-views-guidance-block-4 {
    background-color: $khaki;
  }

  #block-views-835cd7dd66d8c70185419a6793c6c29e,
  #block-views-88c912dddfba50c8309b14ca647eeb44 {
    background-color: $green;
    color: white;
    a {
      color: white;
    }
    .more-link {
      border: solid 1px white;
      &:hover, &:active {
        background-color: white;
        color: $green;
      }
    }
    .views-column {
      text-align: center;
    }
  }

  .view-popular, .view-recent-content {
    a {
      text-decoration:none;
    }
  }

}

.views-responsive-grid.highlighted .views-row-first .views-column {
  .group-right {
    margin-top: 1em;
  }
  h3 {
    margin: 1em 0;
    line-height: 2rem;
  }
  p {
    margin-top: 0;
  }
}

.views-responsive-grid.round {
  .views-field-name {
    margin-bottom: 1em;
  }
  text-align: center;
  img {
    border-radius: 85px; //using square_thumbnail style
    border: solid 1px $green;
  }
}

/* Forums */

.view-id-recent_content {
  .forum-topic-header,
  .forum-post-footer  {
   display: none;
  }
}

.author-pane .user-picture {
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.forum-post-panel-main {
  min-height: 100px;
  height: auto;
}

#block-forum-new,
#block-forum-active {
  .contextual-links-wrapper {
    display: none;
  }
}

/* Grid views */

.view-mode-grid {
  .field-name-field-event-date {
    margin-top: 1em;
  }
}

/* Calendar blocks */

.date-nav {
  padding-bottom: 0;
}

/* Tagcloud */

.tagclouds-term {
  padding: 2px 5px;
  border: solid 1px $higrey;
  background-color: $higrey;
  line-height: normal;
  display: inline-block;
  margin: 3px;
  a {
   text-decoration: none;
  }
  @include border-radius(5px);
}

/* Footer logos */

.footer {
    background-color: $higrey;
    padding-top: 1em;
  .views-responsive-grid {
    img {
      float: left;
      margin: 0 10px 10px 0;
      vertical-align: middle;
    }
    address {
      padding-top: 1em;
      font-style: normal;
      font-size: 85%;
      line-height: 1.25em;
    }
  }
  ul {
    font-weight: bold;
  }
}

.view-id-user_groups {
  caption {
    font-weight: bold;
  }
  td.views-field-name,
  td.views-field-mail {
    width: 40%;
  }
}


/* Microblog */

.section-key-partner-countries .region-highlighted .block-views {
  background-color: $khaki;
  margin: 0 10px;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 10px;
}

/* Resource upload page */

.section-learning-and-sharing .paragraphs-item-block {
  max-width: 800px;
  margin: 0 auto;
  input, textarea {
    width:100%;
  &[type="submit"] {
    width: auto;
    text-align: center;
    }
  }
  .form-type-checkbox input {
    width: auto;
  }
}

.droppable {
  float: none;
  border: 2px dashed $grey;
  width: 98%;
  .drag-over {
    background-color: $midgrey;
  }
}

.droppable-message {
  background: url("../images/dropfiles_image.png") center 5px no-repeat;
  padding-top: 70px;
}

.droppable-standard-upload {
  line-height: 1em;
  min-height: 45px;
}

.droppable-browse-button {
  padding: 10px;
  border-radius: 5px;
}

.filter-wrapper {
  padding: 0;
}

/* Cookie compliance buttons */

#popup-text {
  color: $page;
  font-size: 15px;
  font-weight: normal !important;
}

#sliding-popup .popup-content #popup-buttons button {
   @extend #popup-text;
   background: #585858;
   border: none;
   border-radius: 0;
   text-shadow: none;
   box-shadow: none;
   padding:5px 7px;
   &:hover {
     background: #dfdfdf;
     color: #777777;
   }
}

/* block colours */
#block-block-146 {
  background: $higrey;
}
