/**
 * @file
 * "More" links.
 */

.more-link, 
.field-name-more-link {
  text-align: center; /* LTR */
  border: solid 1px $green;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  display: block;
  width: 6.7em;
  text-decoration: none;
  font-size: 115%;
  &:hover, &:active {
    background-color: $green;
  }
}

.more-help-link {
  text-align: center; /* LTR */
}
.more-help-link a {
  background-image: inline-image("help.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("help.png");
  }
  background-position: 0 50%; /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px; /* LTR */
}
