/**
 * @file
 * Navigation bar.
 */
.main-navigation {
  /* Prevent overlapping with main div. */
  .block {
    margin-bottom: 0;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %visually-hidden;
  }

  /* Main menu and secondary menu links and menu block links. */
  .links,
  .menu {
    margin: 0;
    padding: 0;
    text-align: left; /* LTR */

    li {
      /* A simple method to get navigation links to appear in one line. */
      float: left; /* LTR */
      padding: 0; /* LTR */
      list-style-type: none;
      list-style-image: none;
      &.last a::after {
        content: "";
      }
      a {
       display: block;
       text-decoration: none;
       padding: 1em 0 1em 5px;
       
       &:link,
       &:visited {
         color: white;
        }
       &:hover,
       &:active {
         color: white;
         background-color: $higreen;
       }
       &::after {
         content: " |";
       }
      }
    }
  }
}

/* Responsive menu */

.dl-menuwrapper {
	max-width: 480px;
}

/* IIED logo */

.logoright {
  float: right;
}

