/* articles, blogs, events and resources content type */

.field-name-download-button, .region-sidebar-first .field-name-field-link {
   text-align: center;
   margin: 1em 0;
}
.download, .region-sidebar-first .field-name-field-link .field-item a {
  text-decoration: none;
  padding: .5em;
  border: solid 1px $green;
  line-height: 3em;
}

#block-ds-extras-sidebar img {
    border: solid 1px $green;
}

.node-type-blog, .node-type-article, .node-type-event {
  .view-mode-full  {
    .field-name-post-date::after,
    .field-name-body::after,
    .field-name-field-event-date::after {
        margin: 1em 0 1em;
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 16.67%;
        display: block;
        clear: both;
        background-color: $higrey;
        @if $zen-columns == 12 {
          width: 66.67%;
        }
    }
    .field-name-field-about-the-author-s-, .field-name-body {
      margin-top: 3em;
    }
  }
}
