.preface {
  background-color: #e0e4cc;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 1em;
  h1 {
    margin: 0;
  }
  p {
    font-weight: bold;
    margin-bottom: -1.33em;
  }
  img {
    float: left;
    margin-top: -70px;
  }
  .views-field-description {
      text-align: left;
      margin-left: 260px;
  }
}

.page-theme .preface {
  min-height: 120px;
}