.preface {
  background-color: $page;
  /* padding: 20px 0 0 0; */
  margin-bottom: 1em;
  h1 {
    margin-top: 1.5em;
    margin-bottom: 0;
    margin-left: 10px;
    color: $textcolor;
  }
  .views-field-description {
      text-align: left;
  }
}

.page-theme,
.section-themes,
.section-key-partner-countries {
  .preface {
    min-height: 120px;
  }
}

.front .preface {
  margin-bottom: 0;
}

.page-objectives {
  .preface {
    padding: 10px 0;
  }
}