// #block-search-form,
// #block-search-api-page-search-api,
//#block-custom-search-blocks-1,

#block-custom-search-blocks-1,
#block-block-133 {
  text-align: right;
  display: inline-block;
  float: right;
   div, form {
     display: inline-block;
  }
  a, img, input#form-submit
  {
    vertical-align: middle;
  }
}

/* Full width bar */
#block-custom-search-blocks-2,
#block-views-exp-taxonomy-search-page-2,
#views-exposed-form-taxonomy-search-page-7  {
  display: inline;
  position: relative;
  input.form-text  {
     min-width: 280px;
     height: 3em;
     margin: 0;
     padding: 10px 10px 10px 10px;
     text-align: left;
     background-color: transparent;
     &::placeholder {
      content: "Quick search";
      color: $higrey;
     }
   }

  #views-exposed-form-taxonomy-search-page-2 input.form-text  {
        padding: 10px 10px 0 10px;
  }

    .form-item-search-site  input#edit-search-site {
     border: none;
     border-bottom: 1px solid;
     }
     .form-item-search-site  input#edit-search-site:focus {
       outline: none;
     }

  #edit-actions--2 {
    display: block;
    position: relative;
    margin: -3.5em 0 0 64%;
  }
  #edit-submit-taxonomy-search {
  /*  margin: 15px 45px 0 -45px; */
    width: 90x;
    position: relative;
    background: transparent url(../images/search-solid.png) scroll left top no-repeat;
    border: none;
    outline: none;
    color: transparent;
  }
}
#views-exposed-form-taxonomy-search-page-7 #edit-submit-taxonomy-search {
    margin: 13px 0 0 -30px;
}


.page-resources,
.page-search,
.page-taxonomy {
  .view-header {
    padding: 0 0 .5em 0;
    border-bottom: 1px solid $grey;
  }
  .view-taxonomy-search .views-row {
    border-bottom: 1px solid $higrey;
    margin: 1em 0;
    padding: .5em;
    cursor: pointer;
    &:hover {
      background-color: $higrey; /* rgba(0,0,0,.2) */
    }
  }
  .facetapi-facetapi-checkbox-links {
    padding-left: 0;
  }
}

#block-views-exp-taxonomy-search-page-2 {
  border-bottom: 3px solid $green;
  display: none;
  margin: 0 0 1em 0;
  text-align: left;
  padding: 0px 15px 20px 15px;
  input.form-text  {
    width: 100%;
  }
  #edit-submit-taxonomy-search {
    /* margin: 1em 45px 0 -75px; */
  }
}

.page-search #block-views-exp-taxonomy-search-page-2 {
  display: block;
}

  #views-exposed-form-taxonomy-search-page-2 {
.views-exposed-form .views-exposed-widget {
    display: flex;
}
.views-exposed-form .views-exposed-widget .form-submit { /* views css override */
    margin-top: 1rem;
}
}

a#searchme:hover, a#searchme:active {
  background-color: transparent;
}

.current-search-item-active-items,
.current-search-item-results {
    display: inline-block;
    div, ul, li {
      display: inline;
    }
}

/* Views exposed form */

#edit-submit-advanced-forum-search{
  margin-top: 0;
}

/* Facet multiselect */

.no-radius, .no-radius .ui-corner-all {
    border-radius: 0 !important;
}

.ui-multiselect-menu {
  max-width:66%;
}

/* Checkbox facets */

ul.facetapi-facetapi-checkbox-links li.leaf,
.facetapi-active {
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* Sliding search menu */

.mm-menu {
  width: 90%;
}

.mm-list, .mmenu-expanded,
.mmenu-nav.mm-basic > .mm-list li.mmenu-expanded .mmenu-block-expanded,
.mmenu-nav.mm-basic > .mm-list li  {
  background: $higrey !important;
  text-shadow: none;
  color: $textcolor !important;
  border-bottom: none;
  border-top: none;
}

li.mmenu-collapsed {
  height: 40px;
  &.mm-opened {
    height: auto !important;
  }
}

nav.mm-menu.mm-basic.mm-vertical li.mm-opened > ul,
nav.mm-menu.mm-basic > .mm-list {
  padding: 20px 0;
  margin: 0;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: block;
}

.view-mode-search_result, .view-mode-teaser {
   .field-name-title h2 {
     margin-top: 0;
   }
}

.view-mode-search_result .field-name-body {
  h1, h2, h3, h4, h5, h6, div {
    display: inline;
  }
  p {
    margin: rhythm(.5) 0;
  }
}

.mm-list a.mm-subopen + a, .mm-list a.mm-subopen + span {
    font-weight: bold;
}

#filters {
  font-weight: bold;
  margin-right: 15px;
}

.mm-menu .mm-list {
  padding: 0;
}
