// #block-search-form,
// #block-search-api-page-search-api, 
//#block-custom-search-blocks-1,

#block-custom-search-blocks-1 {
  text-align: right;
  display: inline-block; 
  float: right;
   div, form {
     display: inline-block; 
  }
  a, img
  {
    vertical-align: middle;
  }
}

/* Full width bar */
#block-custom-search-blocks-2,
#block-views-exp-taxonomy-search-page-2 {
  input.form-text {
     width: 90%;
     margin: 0 auto;
   }
  h2 {
    text-align: center;
  }
}

.page-search .views-exposed-form .views-exposed-widget {
  float: none;
}


a#searchme:hover, a#searchme:active {
  background-color: transparent;
}

.current-search-item-active-items,
.current-search-item-results {
    display: inline-block;
    div, ul, li {
      display: inline;
    }
}

/* Views exposed form */

#edit-submit-advanced-forum-search{
  margin-top: 0;
}

/* Facet multiselect */

.no-radius, .no-radius .ui-corner-all {
    border-radius: 0 !important;
}

.ui-multiselect-menu {
  max-width:66%;
}

/* Checkbox facets */

ul.facetapi-facetapi-checkbox-links li.leaf {
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* Sliding search menu */

.mm-menu {
  width: 90%;
}

nav.mm-menu.mm-fresh.mm-vertical li.mm-opened > ul,
nav.mm-menu.mm-fresh > .mm-list {
  padding: 0;
  margin: 0;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: block;
}

.view-mode-search_result, .view-mode-teaser {
   .field-name-title h2 {
     margin-top: 0;
   }
}

.view-mode-search_result .field-name-body {
  h1, h2, h3, h4, h5, h6, div {
    display: inline;
  }
  p {
    margin: rhythm(.5) 0;
  }
}