// #block-search-form,
// #block-search-api-page-search-api,
//#block-custom-search-blocks-1,

#block-custom-search-blocks-1,
#block-block-133 {
  text-align: right;
  display: inline-block;
  float: right;
   div, form {
     display: inline-block;
  }
  a, img, input#form-submit
  {
    vertical-align: middle;
  }
}

/* Full width bar */
#block-custom-search-blocks-2,
#block-views-exp-taxonomy-search-page-2,
#views-exposed-form-taxonomy-search-page-7,
#views-exposed-form-taxonomy-search-page-7  {
  display: inline;
  position: relative;
  input.form-text,  {
     width: 320px;
     height: 3em;
     margin: 0;
     padding: 10px;
     text-align: left;
     background-color: transparent;
     &::placeholder {
      content: "Quick search";
      color: $higrey;
     }
   }
  #edit-actions--2 {
    display: block;
    position: relative;
    margin: -3.5em 0 0 64%;
  }
  #edit-submit-taxonomy-search {
    margin: 1em 0em 0 -50px;
    width: 100px;
    position: relative;
    background: url(../images/search-solid.png) left top no-repeat;
    border: none;
    outline: none;
    color: transparent;

  }
}

.page-resources,
.page-search {
  .view-header {
    padding: 0 0 .5em 0;
    border-bottom: 1px solid $grey;
  }
  .views-row {
    border-bottom: 1px solid $higrey;
    margin: 1em 0;
    padding: .5em;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,.2);
    }
  }
  .facetapi-facetapi-checkbox-links {
    padding-left: 0;
  }
}

a#searchme:hover, a#searchme:active {
  background-color: transparent;
}

.current-search-item-active-items,
.current-search-item-results {
    display: inline-block;
    div, ul, li {
      display: inline;
    }
}

/* Views exposed form */

#edit-submit-advanced-forum-search{
  margin-top: 0;
}

/* Facet multiselect */

.no-radius, .no-radius .ui-corner-all {
    border-radius: 0 !important;
}

.ui-multiselect-menu {
  max-width:66%;
}

/* Checkbox facets */

ul.facetapi-facetapi-checkbox-links li.leaf {
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* Sliding search menu */

.mm-menu {
  width: 90%;
}

nav.mm-menu.mm-fresh.mm-vertical li.mm-opened > ul,
nav.mm-menu.mm-fresh > .mm-list {
  padding: 0;
  margin: 0;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: block;
}

.view-mode-search_result, .view-mode-teaser {
   .field-name-title h2 {
     margin-top: 0;
   }
}

.view-mode-search_result .field-name-body {
  h1, h2, h3, h4, h5, h6, div {
    display: inline;
  }
  p {
    margin: rhythm(.5) 0;
  }
}
